.footer {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    padding: 6px 6px;    
    background-color: #F0DBC9;
}

.footer-logo {
    display: flex;
    height: 38px;
    width: 38px;
    background-image: url("./LogoNamePrimaryCircle.png");
    background-size: cover;
    background-position: center;
}

.footer p {
    display: flex;
    justify-self: flex-end;
    font-size: 10px;
}