.set-calisthenics {
    display: flex;
    justify-content: center;
    padding: 0 1px;
    border: 1px solid #0C181D;
    height: 16px;
    width: 16px;
    background-color: #E3D734;
    color: #0C181D !important;
    text-align: center;
    font-size: 12px !important;
    font-weight: 600;
}

.set-count-increase {
    margin: 2px 4px 2px auto;
} 

.set-edit {
    margin: 2px 4px;
}