.day {
    display: flex;
    align-self: stretch;
}

.day-info {
    display: flex;
    flex-basis: 35%;
    flex-direction: column;
    align-items: stretch;
    justify-items: flex-start;
    margin: 5px 3px 5px 0px;
    padding: 5px;
    
    background-color: #D37F36;
}

.day-info div {
    display: flex;
    padding: 3px;
    background-color: #F9F9F9;
    color: #0C181D;
}

.day-date {
    font-weight: 700;
}

.day-weight {
    font-weight: 500;
    border-top: 1px solid #0C181D;
    border-bottom: 1px solid #0C181D;
}

.day-notes {
    font-size: 14px;
}

.day-button-container {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    margin-top: auto;
    background-color: #D37F36 !important;
}

.day-button-container button {
    display: flex;
    align-content: center;
    font-weight: 600;
    background-color: #234553;
    color: #F9F9F9;
}

.day-edit {
    margin: 2px 4px;
}

.day-add-entry {
    margin: 2px 4px 2px auto;
}

.day-entries {
    display: flex; 
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0px;
    padding: 2px 5px;
    background-color: #D37F36;
}