.set {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    margin: 2px 0;
    padding: 2px;
    border: 1px solid #0C181D;
    background-color: #F9F9F9;
}

.set div {
    display: flex;
    align-items: center;
    margin: 0px 3px;
    color: #0C181D;
    font-size: 16px;
}

.set button {
    display: flex;
    align-items: center;
    font-weight: 600;
    background-color: #895039;
    color: #F9F9F9;
}

.set-count {
    font-weight: 700;
}